Repository Goldziher/html-to-markdown: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-packages, golangci-lint-examples, mypy

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/Goldziher/gitfluff
    rev: v0.3.3
    hooks:
      - id: gitfluff-lint
        args: ["--write"]
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-case-conflict
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.11.1
    hooks:
      - id: pyproject-fmt
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.8
    hooks:
      - id: biome-format
      - id: biome-lint
  - repo: https://github.com/oxc-project/mirrors-oxlint
    rev: v1.29.0
    hooks:
      - id: oxlint
        args: ["--fix"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        args: ["--fix", "--unsafe-fixes"]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^test_documents/|^scripts/|pnpm-lock\.yaml|^uv\.lock|pmd-ruleset\.xml
        additional_dependencies:
          - tomli
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy
  - repo: https://github.com/gherynos/pre-commit-java
    rev: v0.6.28
    hooks:
      - id: cpd
      - id: checkstyle
        args: ["-c", "packages/java/checkstyle.xml"]
  - repo: local
    hooks:
      - id: golangci-lint-packages
        name: golangci-lint (packages/go)
        entry: bash -c 'cd packages/go && golangci-lint run --config ../../.golangci.yml ./...'
        language: system
        files: ^packages/go/
        pass_filenames: false
      - id: golangci-lint-examples
        name: golangci-lint (examples/go-smoke)
        entry: bash -c 'cd examples/go-smoke && golangci-lint run --config ../../.golangci.yml ./...'
        language: system
        files: ^examples/go-smoke/
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: uv run mypy
        require_serial: true
        language: system
        types: [python]
        exclude: ^scripts/|^examples/
        pass_filenames: false
      - id: mix-credo
        name: mix credo
        entry: bash -c 'cd packages/elixir && MIX_ENV=dev mix credo --strict'
        language: system
        pass_filenames: false

feat(rust-core): add text LRU cache
  crates/html-to-markdown/Cargo.toml
  crates/html-to-markdown/src/converter.rs
Due: none

refactor(rust-core): reuse cached tag data
  crates/html-to-markdown/src/converter.rs
Due: none

perf(rust-core): cache sibling indices
  crates/html-to-markdown/src/converter.rs
Due: none

perf(rust-core): relax inline misnest repair
  crates/html-to-markdown/src/converter.rs
Due: none

perf(rust-core): avoid whitespace allocs
  crates/html-to-markdown/src/converter.rs
  crates/html-to-markdown/src/text.rs
Due: none

perf(rust-core): skip html entity allocations
  crates/html-to-markdown/src/converter.rs
  crates/html-to-markdown/src/text.rs
Due: none

perf(rust-core): repair only on parse failure
  crates/html-to-markdown/src/converter.rs
Due: none

perf(rust-core): trim text scans
  crates/html-to-markdown/src/converter.rs
Due: none

fix(rust-core): stabilize whitespace and custom element repair
  crates/html-to-markdown-node/src/lib.rs
  crates/html-to-markdown-php/src/lib.rs
  crates/html-to-markdown-py/src/lib.rs
  crates/html-to-markdown-wasm/src/inline_images.rs
  crates/html-to-markdown/src/converter.rs
  crates/html-to-markdown/src/inline_images.rs
  crates/html-to-markdown/src/text.rs
  packages/elixir/native/html_to_markdown_elixir/src/lib.rs
  packages/python/tests/integration_test.py
  packages/ruby/ext/html-to-markdown-rb/native/src/lib.rs
Due: mypy

fix(rust-core): reduce hocr and table traversal overhead
  crates/html-to-markdown/src/converter.rs
  crates/html-to-markdown/src/hocr/converter.rs
  crates/html-to-markdown/src/hocr/extractor.rs
  crates/html-to-markdown/src/hocr/parser.rs
Due: none

refactor(rust-core): optimize conversion and update tooling
  .gitignore
  .sdkmanrc
  Taskfile.yaml
  crates/html-to-markdown-py/src/lib.rs
  crates/html-to-markdown/Cargo.toml
  crates/html-to-markdown/src/converter.rs
  crates/html-to-markdown/src/options.rs
  examples/ruby-smoke/Gemfile.lock
  examples/wasm-cloudflare/package.json
  examples/wasm-rollup/package.json
  packages/java/pom.xml
  pnpm-lock.yaml
  tools/benchmark-harness/Cargo.toml
  uv.lock
Due: none

chore: consolidated configs
  crates/html-to-markdown-ffi/Cargo.toml
  crates/html-to-markdown-node/Cargo.toml
  crates/html-to-markdown-node/src/lib.rs
  crates/html-to-markdown-php/src/lib.rs
  crates/html-to-markdown-py/python/html_to_markdown/_html_to_markdown.pyi
  crates/html-to-markdown-py/src/lib.rs
  crates/html-to-markdown-wasm/src/inline_images.rs
  crates/html-to-markdown-wasm/src/lib.rs
  crates/html-to-markdown/Cargo.toml
  crates/html-to-markdown/src/inline_images.rs
  crates/html-to-markdown/src/lib.rs
  crates/html-to-markdown/src/metadata.rs
  crates/html-to-markdown/src/options.rs
  packages/elixir/native/html_to_markdown_elixir/src/lib.rs
  packages/python/html_to_markdown/_html_to_markdown.pyi
  packages/python/html_to_markdown/api.py
  packages/ruby/ext/html-to-markdown-rb/native/src/lib.rs
  packages/typescript/src/cli.ts
  packages/typescript/src/index.ts
Due: mypy

feat(build): expand benchmark scenarios
  crates/html-to-markdown-node/bin/benchmark.ts
  crates/html-to-markdown-wasm/bin/benchmark.ts
  packages/csharp/Benchmark/Program.cs
  packages/elixir/scripts/benchmark.exs
  packages/go/v2/bin/benchmark.go
  packages/java/src/main/java/io/github/goldziher/benchmark/Benchmark.java
  packages/php/bin/benchmark.php
  packages/python/bin/benchmark.py
  packages/python/html_to_markdown/api.py
  packages/ruby/bin/benchmark.rb
  tools/benchmark-harness/Cargo.toml
  tools/benchmark-harness/src/adapter.rs
  tools/benchmark-harness/src/adapters/native.rs
  tools/benchmark-harness/src/adapters/script.rs
  tools/benchmark-harness/src/config.rs
  tools/benchmark-harness/src/fixture.rs
  tools/benchmark-harness/src/lib.rs
  tools/benchmark-harness/src/main.rs
  tools/benchmark-harness/src/output.rs
  tools/benchmark-harness/src/runner.rs
  tools/benchmark-harness/src/types.rs
  tools/benchmark-harness/templates/report.html.jinja
Due: golangci-lint-packages, mypy

feat(perf): optimize conversion paths and bindings handles
  .gitignore
  Taskfile.yaml
  crates/html-to-markdown-node/bin/benchmark.ts
  crates/html-to-markdown-node/index.js
  crates/html-to-markdown-node/src/lib.rs
  crates/html-to-markdown-py/src/lib.rs
  crates/html-to-markdown/src/converter.rs
  crates/html-to-markdown/src/lib.rs
  crates/html-to-markdown/src/metadata.rs
  crates/html-to-markdown/src/safety.rs
  packages/elixir/native/html_to_markdown_elixir/src/lib.rs
  packages/python/bin/benchmark.py
  packages/python/html_to_markdown/__init__.py
  packages/python/html_to_markdown/_html_to_markdown.pyi
  packages/python/html_to_markdown/api.py
  packages/ruby/bin/benchmark.rb
  packages/ruby/ext/html-to-markdown-rb/native/src/lib.rs
  packages/ruby/lib/html_to_markdown.rb
  packages/ruby/sig/html_to_markdown.rbs
  tools/benchmark-harness/src/adapters/script.rs
  tools/benchmark-harness/src/main.rs
Due: mypy

fix(elixir): repair profiling and inline image path
  crates/html-to-markdown/src/lib.rs
  packages/elixir/native/html_to_markdown_elixir/src/lib.rs
Due: none

feat(bench): add wasm profiling and warmups
  crates/html-to-markdown-wasm/bin/benchmark.ts
  crates/html-to-markdown-wasm/package.json
  crates/html-to-markdown/src/converter.rs
  packages/java/src/main/java/io/github/goldziher/benchmark/Benchmark.java
  pnpm-lock.yaml
  tools/benchmark-harness/src/adapters/script.rs
Due: none

fix(bench): stabilize wasm profiling output
  tools/benchmark-harness/src/adapters/script.rs
Due: none

fix(bench): parse 0x wasm flamegraph hotspots
  tools/benchmark-harness/src/output.rs
Due: none

perf(rust-core): cut metadata and hocr overhead
  crates/html-to-markdown/src/converter.rs
Due: none

perf(rust-core): tighten hocr precheck
  crates/html-to-markdown/src/converter.rs
Due: none
