Repository Goldziher/html-to-markdown: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-packages, golangci-lint-examples, mypy

golangci-lint-packages:
  name: golangci-lint (packages/go)
  entry: bash -c 'cd packages/go && golangci-lint run --config ../../.golangci.yml ./...'
  language: system
  pass_filenames: false

golangci-lint-examples:
  name: golangci-lint (examples/go-smoke)
  entry: bash -c 'cd examples/go-smoke && golangci-lint run --config ../../.golangci.yml ./...'
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  require_serial: true
  language: system
  pass_filenames: false

fix(build): align java 24 and stable maven plugins
  .github/actions/build-java-jars/action.yml
  .github/actions/test-java/action.yml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-validate.yaml
  .github/workflows/profiling.yaml
  .github/workflows/publish.yaml
  .mvn/wrapper/maven-wrapper.properties
  .pre-commit-config.yaml
  .sdkmanrc
  Taskfile.yaml
  packages/java/pom.xml
  tools/benchmark-harness/src/adapters/script.rs
Due: none

fix(ci): allow java verify without sdkman
  .pre-commit-config.yaml
Due: none

fix(wasm): drop 0x to unblock dependabot security
  crates/html-to-markdown-wasm/package.json
  pnpm-lock.yaml
Due: none

fix(ci): allow force republish for java and wasm
  .github/workflows/publish.yaml
Due: none

fix(rust-core): improve binary input detection
  CHANGELOG.md
  crates/html-to-markdown/src/lib.rs
Due: none

fix(rust-core): honor escape flags for plain text
  CHANGELOG.md
  crates/html-to-markdown/src/lib.rs
Due: none

fix(rust-core): normalize fast-path whitespace
  CHANGELOG.md
  crates/html-to-markdown/src/lib.rs
Due: none

fix(py-binding): limit v1 escape defaults in cli proxy
  CHANGELOG.md
  packages/python/html_to_markdown/cli_proxy.py
Due: mypy

fix(py-binding): bypass v1 cli defaults unless needed
  CHANGELOG.md
  packages/python/html_to_markdown/cli_proxy.py
Due: mypy

fix(rust-core): honor strip_newlines in fast path
  CHANGELOG.md
  crates/html-to-markdown/src/lib.rs
Due: none

chore(build): bump version to 2.16.1
  CHANGELOG.md
  Cargo.toml
  crates/html-to-markdown-node/index.js
  crates/html-to-markdown-node/npm/darwin-arm64/package.json
  crates/html-to-markdown-node/npm/darwin-x64/package.json
  crates/html-to-markdown-node/npm/linux-arm-gnueabihf/package.json
  crates/html-to-markdown-node/npm/linux-arm64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-arm64-musl/package.json
  crates/html-to-markdown-node/npm/linux-x64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-x64-musl/package.json
  crates/html-to-markdown-node/npm/win32-arm64-msvc/package.json
  crates/html-to-markdown-node/npm/win32-x64-msvc/package.json
  crates/html-to-markdown-node/package.json
  crates/html-to-markdown-py/pyproject.toml
  crates/html-to-markdown-wasm/package.json
  e2e/wasm-wasmtime/Cargo.toml
  examples/java-smoke/pom.xml
  examples/node-smoke/package.json
  examples/rust-smoke/Cargo.toml
  examples/wasm-cloudflare/package.json
  examples/wasm-node/package.json
  examples/wasm-rollup/package.json
  examples/wasm-smoke/package.json
  package.json
  packages/csharp/HtmlToMarkdown/HtmlToMarkdown.csproj
  packages/elixir/mix.exs
  packages/elixir/native/html_to_markdown_elixir/Cargo.toml
  packages/java/pom.xml
  packages/php/composer.json
  packages/python/html_to_markdown/__init__.py
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/html-to-markdown-rb/native/Cargo.toml
  packages/ruby/lib/html_to_markdown/version.rb
  packages/typescript/package.json
  uv.lock
Due: mypy

fix: inconsistent definition list formatting
  crates/html-to-markdown/src/converter.rs
  crates/html-to-markdown/tests/integration_test.rs
Due: none

implement fixed decl lists
  crates/html-to-markdown/src/converter.rs
Due: none

fix(bindings): add visitor support and fix feature gates across all bindings
  FFI_ARCHITECTURE_REPORT.md
  FFI_DOCUMENTATION_INDEX.md
  FFI_QUICK_REFERENCE.md
  FFI_VISITOR_ADAPTER_DESIGN.md
  FFI_VISITOR_ARCHITECTURE_DIAGRAM.md
  FFI_VISITOR_IMPLEMENTATION_EXAMPLES.md
  FFI_VISITOR_README.md
  FFI_VISITOR_TECHNICAL_CHALLENGES.md
  VISITOR_FFI_DEPENDENCIES.md
  VISITOR_FFI_IMPLEMENTATION_GUIDE.md
  VISITOR_FIX_STATUS.md
  VISITOR_HELPERS_GUIDE.md
  VISITOR_IMPLEMENTATION_REPORT.md
  crates/html-to-markdown-node/Cargo.toml
  crates/html-to-markdown-node/src/lib.rs
  crates/html-to-markdown-node/src/profiling.rs
  crates/html-to-markdown-py/Cargo.toml
  crates/html-to-markdown-py/src/lib.rs
  crates/html-to-markdown/src/converter.rs.bak3
  crates/html-to-markdown/src/converter.rs.bak9
  crates/html-to-markdown/src/converter.rs.broken
  crates/html-to-markdown/src/converter.rs.tmp10
  crates/html-to-markdown/src/converter.rs.tmp11
  crates/html-to-markdown/src/converter.rs.tmp3
  crates/html-to-markdown/src/converter.rs.tmp4
  crates/html-to-markdown/src/converter.rs.tmp5
  crates/html-to-markdown/src/converter.rs.tmp6
  crates/html-to-markdown/src/converter.rs.tmp7
  crates/html-to-markdown/src/converter.rs.tmp8
  packages/ruby/ext/html-to-markdown-rb/native/Cargo.toml
  packages/ruby/ext/html-to-markdown-rb/native/src/lib.rs
  packages/ruby/ext/html-to-markdown-rb/native/src/profiling.rs
  packages/ruby/sig/html_to_markdown.rbs
Due: none

docs(bindings): add visitor pattern documentation for Python and Ruby
  packages/python/README.md
  packages/python/html_to_markdown/_html_to_markdown.pyi
  packages/python/pyproject.toml
  packages/ruby/README.md
  packages/ruby/sig/html_to_markdown.rbs
Due: none

feat(py-binding): implement complete visitor pattern with 40+ methods
  crates/html-to-markdown-py/src/lib.rs
Due: none

feat(rb-binding): implement complete visitor pattern with 40+ methods
  packages/ruby/ext/html-to-markdown-rb/native/src/lib.rs
Due: none

feat(ts-binding): add visitor pattern types and placeholder
  VISITOR_IMPLEMENTATION.md
  crates/html-to-markdown-node/src/lib.rs
Due: none

feat(visitor): add async visitor pattern with dual-trait architecture
  Cargo.toml
  crates/html-to-markdown-node/Cargo.toml
  crates/html-to-markdown-node/src/lib.rs
  crates/html-to-markdown-py/Cargo.toml
  crates/html-to-markdown-py/src/lib.rs
  crates/html-to-markdown/Cargo.toml
  crates/html-to-markdown/src/lib.rs
  crates/html-to-markdown/src/visitor.rs
  crates/html-to-markdown/src/visitor_helpers.rs
  packages/python/html_to_markdown/_html_to_markdown.pyi
Due: none

docs(py-binding,rb-binding): add comprehensive visitor pattern documentation
  VISITOR_IMPLEMENTATION.md
  packages/python/README.md
  packages/ruby/README.md
Due: none

feat(ts-binding): add AsyncHtmlVisitor infrastructure for visitor pattern
  crates/html-to-markdown-node/Cargo.toml
  crates/html-to-markdown-node/src/lib.rs
Due: none

feat(ts-binding): implement visitor callback extraction with ThreadsafeFunction
  crates/html-to-markdown-node/src/lib.rs
Due: none

test(bindings): add comprehensive visitor pattern tests for Python, Ruby, and TypeScript
  crates/html-to-markdown-node/index.js
  crates/html-to-markdown-py/src/lib.rs
  packages/python/html_to_markdown/__init__.py
  packages/python/html_to_markdown/api.py
  packages/python/tests/test_visitor.py
  packages/python/tests/test_visitor_async.py
  packages/ruby/spec/visitor_spec.rb
  packages/typescript/README.md
  packages/typescript/tests/visitor-async.spec.ts
  packages/typescript/tests/visitor.spec.ts
Due: mypy

perf(benchmarks): add comprehensive visitor pattern benchmarking infrastructure
  .github/workflows/profiling.yaml
  crates/html-to-markdown-node/bin/benchmark.ts
  docs/VISITOR_BENCHMARKING.md
  packages/python/bin/benchmark.py
  packages/ruby/bin/benchmark.rb
  scripts/ci/analyze-visitor-benchmarks.py
  test_documents/html/visitor/baseline.html
  test_documents/html/visitor/callbacks.html
  test_documents/html/visitor/complex.html
  test_documents/html/visitor/custom.html
  tools/PROFILING_README.md
  tools/README_PROFILING.md
  tools/VISITOR_PROFILING_GUIDE.md
  tools/VISITOR_PROFILING_INTEGRATION.md
  tools/benchmark-harness/fixtures/visitor_baseline.toml
  tools/benchmark-harness/fixtures/visitor_callbacks.toml
  tools/benchmark-harness/fixtures/visitor_complex.toml
  tools/benchmark-harness/fixtures/visitor_custom.toml
  tools/benchmark-harness/src/adapters/script.rs
  tools/benchmark-harness/src/fixture.rs
  tools/profile_visitor.js
  tools/profile_visitor.py
  tools/profile_visitor.rb
Due: mypy

fix(bindings): implement functional visitor callbacks for PHP, Go, Java, Elixir, C#
  crates/html-to-markdown-php/src/visitor_support.rs
  packages/csharp/HtmlToMarkdown/Visitor/NativeVisitorStructures.cs
  packages/csharp/HtmlToMarkdown/Visitor/VisitorBridge.cs
  packages/elixir/native/html_to_markdown_elixir/src/visitor.rs
  packages/go/v2/htmltomarkdown/ffi_loader.go
  packages/go/v2/htmltomarkdown/visitor.go
  packages/java/src/main/java/io/github/goldziher/htmltomarkdown/visitor/VisitorBridge.java
  packages/php/tests/VisitorTest.php
Due: golangci-lint-packages

Path conditions:
  golangci-lint-packages: any of: ^packages/go/
  golangci-lint-examples: any of: ^examples/go-smoke/
  mypy: any of: \.py$, but not: ^scripts/|^examples/
