Repository Goldziher/html-to-markdown: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-packages, golangci-lint-examples, mypy

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/Goldziher/gitfluff
    rev: v0.3.3
    hooks:
      - id: gitfluff-lint
        args: ["--write"]
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-case-conflict
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.11.1
    hooks:
      - id: pyproject-fmt
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.8
    hooks:
      - id: biome-format
      - id: biome-lint
  - repo: https://github.com/oxc-project/mirrors-oxlint
    rev: v1.29.0
    hooks:
      - id: oxlint
        args: ["--fix"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        args: ["--fix", "--unsafe-fixes"]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^test_documents/|^scripts/|pnpm-lock\.yaml|^uv\.lock|pmd-ruleset\.xml
        additional_dependencies:
          - tomli
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy
  - repo: https://github.com/gherynos/pre-commit-java
    rev: v0.6.28
    hooks:
      - id: cpd
      - id: checkstyle
        args: ["-c", "packages/java/checkstyle.xml"]
  - repo: local
    hooks:
      - id: golangci-lint-packages
        name: golangci-lint (packages/go)
        entry: bash -c 'cd packages/go && golangci-lint run --config ../../.golangci.yml ./...'
        language: system
        files: ^packages/go/
        pass_filenames: false
      - id: golangci-lint-examples
        name: golangci-lint (examples/go-smoke)
        entry: bash -c 'cd examples/go-smoke && golangci-lint run --config ../../.golangci.yml ./...'
        language: system
        files: ^examples/go-smoke/
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: uv run mypy
        require_serial: true
        language: system
        types: [python]
        exclude: ^scripts/|^examples/
        pass_filenames: false
      - id: mix-credo
        name: mix credo
        entry: bash -c 'cd packages/elixir && MIX_ENV=dev mix credo --strict'
        language: system
        pass_filenames: false

fix(csharp): make publish scripts executable
  scripts/publish/csharp/build-ffi.sh
  scripts/publish/csharp/stage-ffi.sh
Due: none

chore(release): v2.14.4
  .github/workflows/publish.yaml
  CHANGELOG.md
  Cargo.toml
  crates/html-to-markdown-node/index.js
  crates/html-to-markdown-node/npm/darwin-arm64/package.json
  crates/html-to-markdown-node/npm/darwin-x64/package.json
  crates/html-to-markdown-node/npm/linux-arm-gnueabihf/package.json
  crates/html-to-markdown-node/npm/linux-arm64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-arm64-musl/package.json
  crates/html-to-markdown-node/npm/linux-x64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-x64-musl/package.json
  crates/html-to-markdown-node/npm/win32-arm64-msvc/package.json
  crates/html-to-markdown-node/npm/win32-x64-msvc/package.json
  crates/html-to-markdown-node/package.json
  crates/html-to-markdown-py/pyproject.toml
  crates/html-to-markdown-wasm/package.json
  e2e/wasm-wasmtime/Cargo.toml
  examples/java-smoke/pom.xml
  examples/node-smoke/package.json
  examples/rust-smoke/Cargo.toml
  examples/wasm-cloudflare/package.json
  examples/wasm-node/package.json
  examples/wasm-rollup/package.json
  examples/wasm-smoke/package.json
  package.json
  packages/csharp/HtmlToMarkdown/HtmlToMarkdown.csproj
  packages/elixir/mix.exs
  packages/elixir/native/html_to_markdown_elixir/Cargo.toml
  packages/java/pom.xml
  packages/php/composer.json
  packages/python/html_to_markdown/__init__.py
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/html-to-markdown-rb/native/Cargo.toml
  packages/ruby/lib/html_to_markdown/version.rb
  packages/typescript/package.json
  tools/runtime-bench/Cargo.toml
  uv.lock
Due: mypy

fix(elixir-binding): vendor rust core in hex package
  CHANGELOG.md
  Cargo.toml
  Taskfile.yaml
  packages/elixir/native/html_to_markdown_elixir/.gitignore
  packages/elixir/native/html_to_markdown_elixir/Cargo.toml
  scripts/publish/elixir/build-hex-package.sh
  scripts/publish/elixir/run-tests.sh
  scripts/publish/elixir/stage-rust-core.sh
Due: none

fix(release): unblock elixir and csharp packaging
  .github/workflows/publish.yaml
  Cargo.toml
Due: none

fix(elixir-binding): vendor core crate for standalone build
  scripts/publish/elixir/stage-rust-core.sh
Due: none

fix(elixir-binding): strip workspace deps when vendoring
  scripts/publish/elixir/stage-rust-core.sh
Due: none

chore(release): v2.14.5
  .github/workflows/publish.yaml
  CHANGELOG.md
  Cargo.toml
  crates/html-to-markdown-node/index.js
  crates/html-to-markdown-node/npm/darwin-arm64/package.json
  crates/html-to-markdown-node/npm/darwin-x64/package.json
  crates/html-to-markdown-node/npm/linux-arm-gnueabihf/package.json
  crates/html-to-markdown-node/npm/linux-arm64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-arm64-musl/package.json
  crates/html-to-markdown-node/npm/linux-x64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-x64-musl/package.json
  crates/html-to-markdown-node/npm/win32-arm64-msvc/package.json
  crates/html-to-markdown-node/npm/win32-x64-msvc/package.json
  crates/html-to-markdown-node/package.json
  crates/html-to-markdown-py/pyproject.toml
  crates/html-to-markdown-wasm/package.json
  e2e/wasm-wasmtime/Cargo.toml
  examples/java-smoke/pom.xml
  examples/node-smoke/package.json
  examples/rust-smoke/Cargo.toml
  examples/wasm-cloudflare/package.json
  examples/wasm-node/package.json
  examples/wasm-rollup/package.json
  examples/wasm-smoke/package.json
  package.json
  packages/csharp/HtmlToMarkdown/HtmlToMarkdown.csproj
  packages/elixir/mix.exs
  packages/elixir/native/html_to_markdown_elixir/Cargo.toml
  packages/java/pom.xml
  packages/php/composer.json
  packages/python/html_to_markdown/__init__.py
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/html-to-markdown-rb/native/Cargo.toml
  packages/ruby/lib/html_to_markdown/version.rb
  packages/typescript/package.json
  scripts/publish/ruby/publish-gems.sh
  tools/runtime-bench/Cargo.toml
  uv.lock
Due: mypy

chore(release): v2.14.6
  CHANGELOG.md
  Cargo.toml
  crates/html-to-markdown-node/index.js
  crates/html-to-markdown-node/npm/darwin-arm64/package.json
  crates/html-to-markdown-node/npm/darwin-x64/package.json
  crates/html-to-markdown-node/npm/linux-arm-gnueabihf/package.json
  crates/html-to-markdown-node/npm/linux-arm64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-arm64-musl/package.json
  crates/html-to-markdown-node/npm/linux-x64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-x64-musl/package.json
  crates/html-to-markdown-node/npm/win32-arm64-msvc/package.json
  crates/html-to-markdown-node/npm/win32-x64-msvc/package.json
  crates/html-to-markdown-node/package.json
  crates/html-to-markdown-py/pyproject.toml
  crates/html-to-markdown-wasm/package.json
  e2e/wasm-wasmtime/Cargo.toml
  examples/java-smoke/pom.xml
  examples/node-smoke/package.json
  examples/rust-smoke/Cargo.toml
  examples/wasm-cloudflare/package.json
  examples/wasm-node/package.json
  examples/wasm-rollup/package.json
  examples/wasm-smoke/package.json
  package.json
  packages/csharp/HtmlToMarkdown/HtmlToMarkdown.csproj
  packages/elixir/mix.exs
  packages/elixir/native/html_to_markdown_elixir/Cargo.toml
  packages/java/pom.xml
  packages/php/composer.json
  packages/python/html_to_markdown/__init__.py
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/html-to-markdown-rb/native/Cargo.toml
  packages/ruby/lib/html_to_markdown/version.rb
  packages/typescript/package.json
  scripts/publish/elixir/publish-hex.sh
  scripts/publish/ruby/publish-gems.sh
  tools/runtime-bench/Cargo.toml
  uv.lock
Due: mypy

chore(release): v2.14.7
  .github/workflows/publish.yaml
  CHANGELOG.md
  Cargo.toml
  crates/html-to-markdown-node/index.js
  crates/html-to-markdown-node/npm/darwin-arm64/package.json
  crates/html-to-markdown-node/npm/darwin-x64/package.json
  crates/html-to-markdown-node/npm/linux-arm-gnueabihf/package.json
  crates/html-to-markdown-node/npm/linux-arm64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-arm64-musl/package.json
  crates/html-to-markdown-node/npm/linux-x64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-x64-musl/package.json
  crates/html-to-markdown-node/npm/win32-arm64-msvc/package.json
  crates/html-to-markdown-node/npm/win32-x64-msvc/package.json
  crates/html-to-markdown-node/package.json
  crates/html-to-markdown-py/pyproject.toml
  crates/html-to-markdown-wasm/package.json
  e2e/wasm-wasmtime/Cargo.toml
  examples/java-smoke/pom.xml
  examples/node-smoke/package.json
  examples/rust-smoke/Cargo.toml
  examples/wasm-cloudflare/package.json
  examples/wasm-node/package.json
  examples/wasm-rollup/package.json
  examples/wasm-smoke/package.json
  package.json
  packages/csharp/HtmlToMarkdown/HtmlToMarkdown.csproj
  packages/elixir/mix.exs
  packages/elixir/native/html_to_markdown_elixir/.cargo/config.toml
  packages/elixir/native/html_to_markdown_elixir/Cargo.toml
  packages/java/pom.xml
  packages/php/composer.json
  packages/python/html_to_markdown/__init__.py
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/html-to-markdown-rb/native/Cargo.toml
  packages/ruby/lib/html_to_markdown/version.rb
  packages/typescript/package.json
  tools/runtime-bench/Cargo.toml
  uv.lock
Due: mypy

chore(release): v2.14.8
  CHANGELOG.md
  Cargo.toml
  crates/html-to-markdown-node/index.js
  crates/html-to-markdown-node/npm/darwin-arm64/package.json
  crates/html-to-markdown-node/npm/darwin-x64/package.json
  crates/html-to-markdown-node/npm/linux-arm-gnueabihf/package.json
  crates/html-to-markdown-node/npm/linux-arm64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-arm64-musl/package.json
  crates/html-to-markdown-node/npm/linux-x64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-x64-musl/package.json
  crates/html-to-markdown-node/npm/win32-arm64-msvc/package.json
  crates/html-to-markdown-node/npm/win32-x64-msvc/package.json
  crates/html-to-markdown-node/package.json
  crates/html-to-markdown-py/pyproject.toml
  crates/html-to-markdown-wasm/package.json
  crates/html-to-markdown/Cargo.toml
  e2e/wasm-wasmtime/Cargo.toml
  examples/java-smoke/pom.xml
  examples/node-smoke/package.json
  examples/rust-smoke/Cargo.toml
  examples/wasm-cloudflare/package.json
  examples/wasm-node/package.json
  examples/wasm-rollup/package.json
  examples/wasm-smoke/package.json
  package.json
  packages/csharp/HtmlToMarkdown/HtmlToMarkdown.csproj
  packages/elixir/mix.exs
  packages/elixir/native/html_to_markdown_elixir/Cargo.toml
  packages/java/pom.xml
  packages/php/composer.json
  packages/python/html_to_markdown/__init__.py
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/html-to-markdown-rb/native/Cargo.toml
  packages/ruby/lib/html_to_markdown/version.rb
  packages/typescript/package.json
  tools/runtime-bench/Cargo.toml
  uv.lock
Due: mypy

refactor(go-binding): move module into packages/go/v2
  .pre-commit-config.yaml
  Taskfile.yaml
  ai-rulez.yaml
  examples/go-smoke/go.mod
  packages/go/README.md
  packages/go/v2/README.md
  packages/go/v2/go.mod
  packages/go/v2/htmltomarkdown/htmltomarkdown.go
  packages/go/v2/htmltomarkdown/htmltomarkdown_test.go
Due: golangci-lint-packages, golangci-lint-examples

fix(rust-core): extract json-ld from script tags
  CHANGELOG.md
  Cargo.toml
  crates/html-to-markdown-node/index.js
  crates/html-to-markdown-node/npm/darwin-arm64/package.json
  crates/html-to-markdown-node/npm/darwin-x64/package.json
  crates/html-to-markdown-node/npm/linux-arm-gnueabihf/package.json
  crates/html-to-markdown-node/npm/linux-arm64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-arm64-musl/package.json
  crates/html-to-markdown-node/npm/linux-x64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-x64-musl/package.json
  crates/html-to-markdown-node/npm/win32-arm64-msvc/package.json
  crates/html-to-markdown-node/npm/win32-x64-msvc/package.json
  crates/html-to-markdown-node/package.json
  crates/html-to-markdown-py/pyproject.toml
  crates/html-to-markdown-wasm/package.json
  crates/html-to-markdown/src/converter.rs
  crates/html-to-markdown/tests/json_ld_script_extraction.rs
  e2e/wasm-wasmtime/Cargo.toml
  examples/java-smoke/pom.xml
  examples/node-smoke/package.json
  examples/rust-smoke/Cargo.toml
  examples/wasm-cloudflare/package.json
  examples/wasm-node/package.json
  examples/wasm-rollup/package.json
  examples/wasm-smoke/package.json
  package.json
  packages/csharp/HtmlToMarkdown/HtmlToMarkdown.csproj
  packages/elixir/mix.exs
  packages/elixir/native/html_to_markdown_elixir/Cargo.toml
  packages/java/pom.xml
  packages/php/composer.json
  packages/python/html_to_markdown/__init__.py
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/html-to-markdown-rb/native/Cargo.toml
  packages/ruby/lib/html_to_markdown/version.rb
  packages/typescript/package.json
  tools/runtime-bench/Cargo.toml
  uv.lock
Due: mypy

fix(py-binding): release GIL and require metadata
  CHANGELOG.md
  Cargo.toml
  crates/html-to-markdown-node/index.js
  crates/html-to-markdown-node/npm/darwin-arm64/package.json
  crates/html-to-markdown-node/npm/darwin-x64/package.json
  crates/html-to-markdown-node/npm/linux-arm-gnueabihf/package.json
  crates/html-to-markdown-node/npm/linux-arm64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-arm64-musl/package.json
  crates/html-to-markdown-node/npm/linux-x64-gnu/package.json
  crates/html-to-markdown-node/npm/linux-x64-musl/package.json
  crates/html-to-markdown-node/npm/win32-arm64-msvc/package.json
  crates/html-to-markdown-node/npm/win32-x64-msvc/package.json
  crates/html-to-markdown-node/package.json
  crates/html-to-markdown-py/Cargo.toml
  crates/html-to-markdown-py/pyproject.toml
  crates/html-to-markdown-py/src/lib.rs
  crates/html-to-markdown-wasm/package.json
  e2e/wasm-wasmtime/Cargo.toml
  examples/java-smoke/pom.xml
  examples/node-smoke/package.json
  examples/rust-smoke/Cargo.toml
  examples/wasm-cloudflare/package.json
  examples/wasm-node/package.json
  examples/wasm-rollup/package.json
  examples/wasm-smoke/package.json
  package.json
  packages/csharp/HtmlToMarkdown/HtmlToMarkdown.csproj
  packages/elixir/mix.exs
  packages/elixir/native/html_to_markdown_elixir/Cargo.toml
  packages/java/pom.xml
  packages/php/composer.json
  packages/python/html_to_markdown/__init__.py
  packages/python/html_to_markdown/api.py
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/ext/html-to-markdown-rb/native/Cargo.toml
  packages/ruby/lib/html_to_markdown/version.rb
  packages/typescript/package.json
  tools/runtime-bench/Cargo.toml
  uv.lock
Due: mypy

docs(go-binding): correct Go module tag format
  packages/go/v2/README.md
Due: golangci-lint-packages

fix(ci): stage rust core for elixir tests
  scripts/ci/elixir/run-tests.sh
Due: none

fix(ci): use workspace path for go lint script
  .github/workflows/ci-go.yaml
Due: none

fix(ci): normalize ruby/php hooks and add java setup
  .github/workflows/ci-validate.yaml
  .pre-commit-config.yaml
Due: none
